<script setup lang="ts">
import {Popover, PopoverButton, PopoverPanel} from '@headlessui/vue'
import {MailIcon, MenuIcon, PhoneIcon, XIcon} from '@heroicons/vue/outline'
import Navigation from '../components/Navigation.vue'
import {inject, ref, computed, type Ref} from 'vue'

const axios: any = inject('axios')

let submissionResponse = ref()
let errors = ref('')

const firstName = ref('')
const dob = ref()
const migraineFrequency = ref('')
const displayDailyFrequency = computed(() => migraineFrequency.value == 'Daily')
const dailyFrequency = ref('')

function submitScreeningForm() {
  const form = {
    'first_name': firstName.value,
    'dob': dob.value,
    'migraine_frequency': migraineFrequency.value,
  }
  if (migraineFrequency.value === 'Daily') {
    form.daily_frequency = dailyFrequency.value
  }
  axios.post('http://127.0.0.1:8000/api/screening', form)
      .then((response: { data: { message: Ref<string> } }) => {
        submissionResponse.value = response.data.message
        resetForm()
      }).catch((error: any) => {
    errors.value = error.response.data.errors
  })
}

function resetForm() {
  firstName.value = ''
  dob.value = ''
  migraineFrequency.value = ''
  dailyFrequency.value = ''
  errors.value = ''
}
</script>

<template>

  <Navigation/>

  <main class="overflow-hidden">
    <div class="bg-warm-gray-50">
      <div class="py-24 lg:py-32">
        <div class="relative z-10 max-w-7xl mx-auto pl-4 pr-8 sm:px-6 lg:px-8">
          <h1 class="text-4xl font-extrabold tracking-tight text-warm-gray-900 sm:text-5xl lg:text-6xl">
            Screening Form
          </h1>
          <p class="mt-6 text-xl text-warm-gray-500 max-w-3xl">
            Please complete the screening form below to check your eligibility for the trial.
          </p>
        </div>
      </div>
    </div>

    <section class="relative bg-white" aria-labelledby="contact-heading">
      <div class="absolute w-full h-1/2 bg-warm-gray-50" aria-hidden="true"/>
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <svg
            class="absolute z-0 top-0 right-0 transform -translate-y-16 translate-x-1/2 sm:translate-x-1/4 md:-translate-y-24 lg:-translate-y-72"
            width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
                     patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-warm-gray-200" fill="currentColor"/>
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"/>
        </svg>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative bg-white shadow-xl">

          <div class="grid grid-cols-1 lg:grid-cols-3">
            <div
                class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-teal-500 to-teal-600 sm:px-10 xl:p-12">
              <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block" aria-hidden="true">
                <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678" fill="none"
                     preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                  <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)"
                        fill-opacity=".1"/>
                  <defs>
                    <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66"
                                    gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff"/>
                      <stop offset="1" stop-color="#fff" stop-opacity="0"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <h3 class="text-lg font-medium text-white">
                Eligibility information
              </h3>
              <p class="mt-6 text-base text-teal-50 max-w-3xl">
              <ul class="list-disc">
                <li>
                  Under 18 years of age are ineligible.
                </li>
                <li>
                  Over 18 years of age and experiences monthly or weekly migraine headaches are eligible and are
                  assigned to Cohort A.
                </li>
                <li>
                  Over 18 years of age and experiences daily migraine headaches they are eligible and are assigned to
                  Cohort B.
                </li>
              </ul>
              </p>
            </div>

            <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">

              <div v-if="submissionResponse" class="relative z-10 max-w-7xl mx-auto pl-4 pr-8 sm:px-6 lg:px-8 pb-6"
                   role="alert">
                <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md">
                  <p class="font-bold">
                    {{ submissionResponse }}
                  </p>
                </div>
              </div>

              <h3 class="text-lg font-medium text-warm-gray-900">
                Enter your information
              </h3>
              <form @submit.prevent="" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                <div>
                  <label for="first-name" class="block text-sm font-medium text-warm-gray-900">
                    First name
                  </label>
                  <div v-if="errors.first_name" class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                    {{ errors.first_name }}
                  </div>
                  <div class="mt-1">
                    <input v-model=firstName type="text" @keypress.enter.prevent name="first-name" id="first-name"
                           class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md"/>
                  </div>
                </div>
                <div>
                  <label for="date-of-birth" class="block text-sm font-medium text-warm-gray-900">
                    Date of birth
                  </label>
                  <div v-if="errors.dob" class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                    {{ errors.dob }}
                  </div>
                  <div class="mt-1">
                    <input v-model=dob type="date" id="date-of-birth" name="date-of-birth"
                           class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md">
                  </div>
                </div>
                <div>
                  <label class="block text-sm font-medium text-warm-gray-900">
                    Migraine frequency
                  </label>
                  <div v-if="errors.migraine_frequency" class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                    {{ errors.migraine_frequency }}
                  </div>
                  <div class="mt-1">
                    <select v-model="migraineFrequency" id="migraine-frequency"
                            class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md">
                      <option disabled value="">Please select one</option>
                      <option>Monthly</option>
                      <option>Weekly</option>
                      <option>Daily</option>
                    </select>
                  </div>
                </div>
                <div v-if="displayDailyFrequency">
                  <div class="flex justify-between">
                    <label class="block text-sm font-medium text-warm-gray-900">
                      Daily frequency
                    </label>
                  </div>
                  <div v-if="errors.daily_frequency" class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                    {{ errors.daily_frequency }}
                  </div>
                  <div class="mt-1">
                    <select v-model="dailyFrequency" id="daily-frequency"
                            class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md">
                      <option disabled value="">Please select one</option>
                      <option>1-2</option>
                      <option>3-4</option>
                      <option>5+</option>
                    </select>
                  </div>
                </div>
                <div class="sm:col-span-2 sm:flex sm:justify-end">
                  <button @click=submitScreeningForm type="submit"
                          class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-teal-500 hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 sm:w-auto">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section aria-labelledby="offices-heading">
      <div class="max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
      </div>
    </section>
  </main>

</template>
