<script setup lang="ts">
import Navigation from '../components/Navigation.vue'
</script>

<template>
  <Navigation />
  <main class="overflow-hidden">
    <div class="bg-warm-gray-50">
      <div class="py-24 lg:py-32">
        <div class="relative z-10 max-w-7xl mx-auto pl-4 pr-8 sm:px-6 lg:px-8">
          <h1 class="text-4xl font-extrabold tracking-tight text-warm-gray-900 sm:text-5xl lg:text-6xl">
            uMotif test
          </h1>
          <p class="mt-6 text-xl text-warm-gray-500 max-w-3xl">
            Please use the nav bar to navigate to the screening form.
          </p>
        </div>
      </div>
    </div>
  </main>
</template>
